@keyframes slideInLeft {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0%);
  }
}

.slideInLeft-enter-active {
  animation: slideInLeft 0.3s ease-in;
}

.slideInLeft-leave-active {
  animation: slideInLeft 0.3s reverse ease-out;
}

@keyframes slideInTop {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0%);
  }
}

.slideInTop-enter-active {
  animation: slideInTop 0.3s ease-in;
}

.slideInTop-leave-active {
  animation: slideInTop 0.3s reverse ease-out;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.fadeIn-enter-active {
  animation: fadeIn 0.3s;
}

.fadeIn-leave-active {
  animation: fadeIn 0.3s reverse;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
