@import url("https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap");
@import "@/styles/_animations.scss";

html,
body {
  min-height: 100vh;
  background-color: $bodyBgColor;
  color: $globalFontColor;
  font-size: $globalFontSize;
  box-sizing: border-box;
  font-weight: 400;
  touch-action: manipulation;
}

* {
  font-weight: inherit;
  font-family: "Roboto", sans-serif;
  -webkit-tap-highlight-color: transparent;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

*:-moz-focusring {
  outline: 0 !important;
}

*:focus {
  border: $defaultFocusBorder !important;
  box-shadow: $defaultFocusBoxShadow !important;
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
}

a,
.link {
  display: inline-block;
  color: $defaultLinkColor;
  text-decoration: none;
  cursor: pointer;
  &:focus {
    border: $defaultFocusBorder;
    box-shadow: $defaultFocusBoxShadow;
  }

  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
    color: lighten($defaultLinkColor, 20%);
    outline: none;
  }

  &.alert {
    color: red;
  }
}

form {
  width: 100%;
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;

  > :last-child {
    margin-bottom: 0;
  }
}

input {
  padding: 10px;
  margin-bottom: 10px;
  background: $inputBgColor;
  color: $inputFontColor;
  border: $inputBorder;
  border-radius: 5px;
}

label {
  margin-bottom: 10px;
  margin-right: 10px;
}

select {
  padding: 10px;
  margin-bottom: 10px;
  background-color: $inputBgColor;
  background-image: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0Ljk1IDEwIj48ZGVmcz48c3R5bGU+LmNscy0xe2ZpbGw6I2ZmZjt9LmNscy0ye2ZpbGw6IzQ0NDt9PC9zdHlsZT48L2RlZnM+PHRpdGxlPmFycm93czwvdGl0bGU+PHJlY3QgY2xhc3M9ImNscy0xIiB3aWR0aD0iNC45NSIgaGVpZ2h0PSIxMCIvPjxwb2x5Z29uIGNsYXNzPSJjbHMtMiIgcG9pbnRzPSIxLjQxIDQuNjcgMi40OCAzLjE4IDMuNTQgNC42NyAxLjQxIDQuNjciLz48cG9seWdvbiBjbGFzcz0iY2xzLTIiIHBvaW50cz0iMy41NCA1LjMzIDIuNDggNi44MiAxLjQxIDUuMzMgMy41NCA1LjMzIi8+PC9zdmc+);
  background-position: right center;
  background-repeat: no-repeat;
  color: $inputFontColor;
  border: $inputBorder;
  border-radius: 3px;
  appearance: none;
  width: 100%;
}

.button {
  border: 0;
  border-radius: 3px;
  padding: 10px;
  font-size: inherit;
  background: $buttonBgColor;
  color: $buttonFontColor;
  transition: all 0.4s;
  cursor: pointer;
  appearance: none;
  width: max-content;
  display: block;

  > i {
    margin-left: 15px;
  }

  > i:only-child {
    margin-left: 0;
  }

  &:hover,
  &:active,
  &:focus {
    background: lighten($buttonBgColor, 10%);
    text-decoration: none;
  }

  &:disabled {
    background: $buttonBgColor !important;
    color: $buttonFontColor;
    cursor: not-allowed !important;
  }

  &.noStyle {
    background: none;
    color: inherit;
    padding: 0px;

    &:hover,
    &:active,
    &:focus {
      text-decoration: none;
      color: lighten($defaultLinkColor, 20%);
      outline: none;
    }
  }

  &.primary {
    background: $buttonPrimaryBgColor;
    color: $buttonPrimaryFontColor;

    &:hover,
    &:active,
    &:focus {
      background: lighten($buttonPrimaryBgColor, 10%);
    }
  }

  &.success {
    background: $buttonSuccessBgColor;
    color: $buttonSuccessFontColor;

    &:hover,
    &:active,
    &:focus {
      background: lighten($buttonSuccessBgColor, 10%);
    }
  }

  &.alert {
    background: $buttonAlertBgColor;
    color: $buttonAlertFontColor;

    &:hover,
    &:active,
    &:focus {
      background: lighten($buttonAlertBgColor, 10%);
    }
  }
}
