$bodyBgColor: rgb(255, 255, 255);

$globalFontColor: rgb(31, 31, 31);
$globalFontSize: 16px;

$defaultLinkColor: #0e2b44;

$inputBgColor: #ffff;
$inputFontColor: $globalFontColor;
$inputBorder: 1px solid rgb(196, 196, 196);

$headerBgColor: #0e2b44;
$headerFontColor: rgb(255, 255, 255);

$mainNavBgColor: #0e2b44;
$mainNavFontColor: #5a7ea1;

$bottomNavBgColor: #4b7da8;
$bottomNavHoverBgColor: #3d688d;
$bottomNavFontColor: #fff;

$mainViewBgColor: #fcfcfc;

$containerTitleFontColor: $globalFontColor;

$listBgColor: #fff;
$listBorder: 1px solid rgb(224, 224, 224);
$listItemBgColor: $listBgColor;
$listItemFontColor: $globalFontColor;
$listItemBorderBottom: $listBorder;

$buttonBgColor: rgb(189, 189, 189);
$buttonFontColor: #000;

$buttonPrimaryBgColor: #30465c;
$buttonPrimaryFontColor: #fff;

$buttonSuccessBgColor: #5aaf50;
$buttonSuccessFontColor: #fff;

$buttonAlertBgColor: #ef4835;
$buttonAlertFontColor: #fff;

$cardBgColor: #ffffff;
$cardTitleFontColor: $globalFontColor;
$cardFontColor: $globalFontColor;
$cardBorder: $listBorder;
