$bodyBgColor: rgb(255, 255, 255);

$globalFontColor: rgb(31, 31, 31);
$globalFontSize: 16px;

$defaultLinkColor: #0e2b44;

$inputBgColor: #ffff;
$inputFontColor: $globalFontColor;
$inputBorder: 1px solid rgb(196, 196, 196);

$headerBgColor: #0e2b44;
$headerFontColor: rgb(255, 255, 255);

$mainNavBgColor: #0e2b44;
$mainNavFontColor: #466380;

$bottomNavBgColor: #4b7da8;
$bottomNavHoverBgColor: #3d688d;
$bottomNavFontColor: #fff;

$mainViewBgColor: #fcfcfc;

$containerTitleFontColor: $globalFontColor;

$listBgColor: #fff;
$listBorder: 1px solid rgb(224, 224, 224);
$listItemBgColor: $listBgColor;
$listItemFontColor: $globalFontColor;
$listItemBorderBottom: $listBorder;

$requestStatusBgColor: none;
$requestStatusFontColor: rgb(31, 31, 31);

$requestLoaderBorder: 2px solid #f3f3f3; // "Background"
$requestLoaderBorderTop: 2px solid #3498db; // "Foreground

$buttonBgColor: rgb(189, 189, 189);
$buttonFontColor: #000;

$buttonPrimaryBgColor: #30465c;
$buttonPrimaryFontColor: #fff;

$buttonSuccessBgColor: #5aaf50;
$buttonSuccessFontColor: #fff;

$buttonAlertBgColor: #ef4835;
$buttonAlertFontColor: #fff;

$roundButtonBgColor: #223a52;
$roundButtonFontColor: #466380;

$defaultBoxShadow: 1px 1px 10px rgba(0, 0, 0, 0.089);

$cardBgColor: #ffffff;
$cardTitleFontColor: $globalFontColor;
$cardFontColor: $globalFontColor;
$cardBorder: $listBorder;
